
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class=" jumbotron jumbotron-fluid">
        <p class="lead">   Succesfully added to web apps.</p>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


</body>
</html>
