
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invalid</title>
</head>
<body>
    <div class="jumbotron"> 
        Invalid page
    </div>
</body>
</html>
